@charset 'UTF-8';

:root {
    --font_padrao: Arial, Helvetica, sans-serif;
    --cor: #23232e;
}
/* Queremos definir o espaçamento, nós mesmo */
* {
    font-family: var(--font_padrao);
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    /* da o efeito visual de atrazo */
    transition: 0.3s;
}
  
a:hover {
    /* da um efeito para identificar o link quando o maude está em cima */
    opacity: 0.7;
}

header {
    background-color: var(--cor);
    height: 8vh;
    padding: 1em;
    box-sizing: border-box;
    /* personalizando a exibição com o display flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#nav-list {
    list-style: none;
    gap: 0.5rem;
    display: flex;
}

#nav-list a {
    display: block;
    padding: 0.5em;
}

#mobile-menu {
    display: none;
}

@media (max-width: 1000px) {
    #mobile-menu {
        background: none;
        color: white;
        font-size: 1em;
        padding: 0.5em 1em;
        border: none;
        cursor: pointer;
        gap: 0.5em;
        display: flex
    }

    #nav-list {
        visibility: hidden;
        display: block;
        background-color: var(--cor);
        width: 35vw;
        height: 0px;
        transition: 0.3s;
        overflow: hidden;
        position: absolute;
        top: 8vh;
        left: 0px;
        z-index: 8000;
    }

    nav.active #nav-list{
        height: 92vh;
        visibility: visible;
        overflow-y: auto;
    }

    #nav-list a {
        text-align: center;
        padding: 1em;
        border-bottom: 3px solid #46465d;
    }

    #ico {
        width: 25px;
        border-top: 2px solid;
    }

    #ico::after {
        contain: '';
        background: white;        width: 25px;
        height: 2px;
        margin-top: 5px;
        display: block;
    }
}